.body
    .card 
        .card-body
            .row 
                .col.product-add-ons{style: "border-right: 1px solid rgba(0,0,0,.125);"}
                    .header.d-flex.justify-content-between 
                        .page-title Add On Groups
                        .actions-container.d-flex.justify-content-end
                            .btn.btn-primary#create-product-category{url: "/admin/product_category/new?id=#{@seller.id}"}
                                %i.icon-plus
                                Add Groups
                    %br/
                    .search-bar 
                        %input{type: "text", placeholder: "Search Seller", class: "form-control"}/
                        %i.icon-search 
                    %table.table-list   
                        %tr 
                            %th Name 
                            %th Action 
                        - @add_on_groups.each do |aog|
                            %tr
                                %td= aog.name 
                                %td None
                .col.product-add-ons{style: "border-right: 1px solid rgba(0,0,0,.125);"}
                    .header.d-flex.justify-content-between 
                        .page-title Add Ons
                        .actions-container.d-flex.justify-content-end
                            .btn.btn-primary#create-product-category{url: "/admin/product_category/new?id=#{@seller.id}"}
                                %i.icon-plus
                                Add Add Ons
                    %br/
                    .search-bar 
                        %input{type: "text", placeholder: "Search Seller", class: "form-control"}/
                        %i.icon-search 
                    %table.table-list 
                        %tr 
                            %th Name
                            %th Price 
                            %th Group 
                            %th Action 
                        - @add_ons.each do |ao|
                            %tr 
                                %td= ao.name 
                                %td= ao.price 
                                %td= ao.add_on_group.name 
                                %td None