.modal-bg
.modal-content
    .card 
        .card-header 
            %h3 Add Seller
        .card-body 
            = form_with(url: "/admin/seller", method: :post) do |f|
                = f.text_field :name, {placeholder: "Name", style: "width:300px;", class: "form-control"}
                %br/
                = f.text_field :email, {placeholder: "Email", style: "width:300px;", class: "form-control"}
                %br/
                = f.text_field :phone_number, {placeholder: "Phone Number", style: "width:300px;", class: "form-control"}
                %br/
                = f.text_field :latitude, {placeholder: "Latitude", style: "width:300px;", class: "form-control"}
                %br/
                = f.text_field :longitude, {placeholder: "Longitude", style: "width:300px;", class: "form-control"}
                %br/
                = f.collection_select :category_id, @categories, :id, :name, {}, {class: "form-select"}
                %br/
                = f.file_field :image, {class: "form-control", style: "width:300px;"}
                %br/
                %center 
                    = submit_tag "Create", {class: "btn btn-primary"}