%h1 Category
.card 
    .card-body 
        = form_with(url: "/admin/category", method: :post) do |f|
            = f.text_field :name, {placeholder: "Name", style: "width:300px;", class: "form-control"}
            %br/
            = f.file_field :image, {class: "form-control", style: "width:300px;"}
            %br/
            = submit_tag "Create", {class: "btn btn-primary btn-sm"}
%hr/

%table.table
    %thead 
        %tr
            %th Name
            %th Status
            %th Image
            %th Action
    %tbody 
        - @categories.each do |category|
            %tr 
                %td= category.name 
                %td= category.status 
                %td
                    - if category.image.attached?
                        = image_tag category.image, style: "width: 50px;"
                    - else
                        No Image
                %td none

        
