<!DOCTYPE html>
<html>
  <head>
    <title>Landgo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%# font awesome %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <%= yield :javascript_includes %>
  </head>

  <body data-turbolinks="false">
    <% if admin_signed_in? %>
      <div class="d-flex">
        <%# sidebar %>
        <%= render partial: "/layouts/sidebar" %>
        <%# content %>
        <div class="app-body container">
          <%# navbar %>
          <%= render partial: "/layouts/navbar" %>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
